body{
	background: #e2eaef;
	margin-top: 0px;
}

.thumb-wrapper p{
	font-size: 16px;
	
}

 .col-md-6 .thumb-wrapper,.col-md-6 .img-box {
	height: 400px;
	
}

.col-md-6 .thumb-wrapper{

	background-color: #ffccb3;
}
.thumb-wrapper .img-box{
	width: 100%;
position: relative;

}

.thumb-wrapper h3{
	font-weight: bold;
} 

.col-md-4 .thumb-wrapper{
	
	background-color: #ffccb3;
}

