
body{

	background: url("http://localhost/ciproject/assets/images/contactus-background.jpg");
}
.main{
	width: 70%;
	margin: 70px auto;
	background-color: white;
	border: 1px solid white;
	border-radius: 15px;
	box-shadow: 0 0 5px white;
	height: 400px;
	font-family: 'Roboto', sans-serif;

}
.main .left{
	width: 50%;
	height: 400px;
	margin: auto;
	float: left;
	border: 3px solid #F353AC;
	border-radius: 15px 0 0 15px ;
}

.main form{
	width: 80%;
	margin: auto;
}


form input{
	width: 90%;
	margin: auto;
	padding: 3%;
	margin-bottom: 10px;
	border: none;
	outline: none;
	box-sizing: border-box;
	border-bottom: 2px solid rgba(0,0,0,.3);
	display: block;
	}

 form input[type=submit]{
		width: 30%;
		margin: auto;
		border: none;
		outline: none;
		background: linear-gradient(to left, rgb(236, 0, 140), rgb(252, 103, 103));
		border-radius: 15px;
		font-size: 20px;
		font-weight: bolder;
		color: white;
		text-align: center;
		padding: 2%;
	}

	form textarea{
		width: 90%;
		margin: 4%;
		padding: 2%;
		resize: none;
		border: none;
		border-bottom: 2px solid rgba(0,0,0, .3);
	}

 .main .right{
 	width: 50%;
 	height: 400px;
 	margin: auto;
 	float: right;
	/*background: url(contact.jpg);*/
	background: linear-gradient(to left, rgba(236, 0, 140, .7), rgba(252, 103, 103, .7));
	background-size: cover;
	border-radius: 0 15px 15px 0;
}
.left .title{
	width: 100%;
	margin: auto;


}

.title h1{
	text-align: center;
	padding: 10px;
}
.right .content{
	width: 70%;
	margin: 100px auto;
}
.content p{
	padding: 10px;
	color: white;
	font-size: 18px;
}

.content i{
	width: 40px;
	font-size: 35px;
	text-align: center;
	padding-right: 10px;
}
.title p{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.title{
	font-weight: bold;
}

.flash{
	width: 1050px;
	height: 80px;
	margin-left: 220px;
	
	margin-top: 10px;
	margin-bottom: -30px;
}

