.page-footer{
background-color: #45526E;
color: white;
text-decoration-color: white;
height: 250px;
position: relative;
bottom: 0;
right: 0;
width: 100%;
}
p a{
color: white;
}
.container .row{
margin-top: 20px;
}
.row p a:hover{
color: white;
}
.text-center{
/*<<<<<<< HEAD*/
margin-left: -100px;
}

.icons li{
	margin-right: 100px;
}
/*=======
margin-left: 0px;
font-size: 15px;
}

.icons{
	margin-left: 500px;
}
.icons i{
	margin-left: 15px;
	color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2em;

}

>>>>>>> ronal
*/